@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
div, section, span, ul, li, a, header{
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    align-items: center;
    position: fixed;
    background-color: #5a0000;
}
#nav{
    padding: 2vh;
}
#nav li{
    list-style: none;
    display: inline-block;
}
#nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px; 
    font-weight: bold; 
    margin-right: 35px;
}
#nav li a:hover{
    background-color: white;
    color: #5a0000;
    border-radius: 20px;
    padding: 10px;
}
section{
    width: 100%;    
    height: 100vh;
}
#pagInicial{
    /* superior | direita | inferior | esquerda */
padding: 60px 0 0 100px;
}
.informacoesIniciais{
    height: 100vh;
}
.informacoesIniciais h1{
    font-size: 50px;
}
.informacoesIniciais h2{
    font-size: 30px;
}
.informacoesIniciais #texto1{
    position: absolute;
    top: 150px;
    left: 200px;
}
.informacoesIniciais #texto2{
    position: absolute;
    top: 215px;
    left: 200px; 
}
.informacoesIniciais #texto3{
    position: absolute;
    top: 360px;
    left: 200px; 
}
.informacoesIniciais #texto4{
    position: absolute;
    top: 395px;
    left: 200px; 
}
#gitHub{
    color: #575757;
    font-size: 100px;
    position: absolute;
    top:420px;
    left: 200px;
}
#linkedin{
    color: #575757;
    font-size: 100px;
    position: absolute;
    top:420px;
    left: 300px;
}
#gitHub :hover{
    color: black;
}
#linkedin :hover{
    color: #004182;
}
#fotoPerfil{
    width: 25vw;
    height: 60vh;
    border-radius: 30px;
    position: absolute;
    left: 750px;
    top: 150px;
}



