@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1.4s all ;
}
.hamburguer span{
    position: absolute;
    left: 2rem;
    height: 1.5rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    background-color: #525252;
    color: #FFF;
    opacity: 0;
    align-items: center;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: 0.5rem solid #A044FF;
    border-bottom: 0.5rem transparent;
    border-left: 0.5rem transparent;
    border-top: 0.5rem transparent;
    left: -1rem;
}
.line{
    width: 100%;
    height: 0.1rem;
    background-color: #FFF;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: 1s;
}
.show-menu .hamburguer{
    right: 16rem;
}
.show-menu #line1{
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(0.1rem, -0.50rem);
}
.show-menu .hamburguer:hover span{
    opacity: 1;
}

.img-header{
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
}
.img-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.text-header{
    position: absolute;
    top: 30%;
    left: 10%;
}
.text-header h2{
    color: #FFF;
    font-size: 3em;
}
.text-header p{
    color: #FFF;
    font-size: 2em;
}
.text-header button{
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: rgb(200, 50, 50);
    font-size: .8em;
    color: #FFF;
    cursor: pointer;
    transition: .5s all;
    text-transform: uppercase;
}
.text-header button:hover{
    background-color: rgb(200, 70, 70);
}
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}
.show-menu .sidebar{
    right: 0;
}
.show-menu .hamburguer{
    right: 16rem;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 0.5rem;
}
.menu-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(17, 17, 17);
    transition: color 1s;
}
.menu-link:hover{
    color: #525252;
}
.midias-sociais{
    position: absolute;
    bottom: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.midias-sociais i{
    font-size: 4rem;
    color: #000;
}
.midias-sociais .fa-github:hover{
    color: #525252;
}
.midias-sociais .fa-linkedin:hover{
    color: #0057BD;
}
.habilidades{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-hab{
    align-items: center;
    padding: 30px;
}
.header-hab h2{
    font-size: 3em;
    text-align: center;
    align-items: center;
}
.header-hab h2::before{
    content: "";
    width: 70%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 130px;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    
}
.content-hab{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    
}
.front{
    width: 45%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}
.front h2 ,.back h2{
    grid-column: span 3;
    margin-top: 10px;
}
.back{
    width: 45%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
}
.skills{
    text-align: center;
}
.text-skill{
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    body {
      background: crimson;
    }
    .content-hab{
        display: grid;
    }
    .front ,.back{
        width: 100%;
        gap: 10px;
    }
  } 