@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
div, section, span, ul, li, a, header{
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: #5a0000;
}
#nav{
    padding: 2vh;
}
#nav li{
    list-style: none;
    display: inline-block;
}
#nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px; 
    font-weight: bold; 
    margin-right: 35px;
}
#nav li a:hover{
    background-color: white;
    color: #5a0000;
    border-radius: 20px;
    padding: 10px;
}
section{
    width: 100vw;
    
    height: 98vh;
    position: relative;
}
#pagInicial{
    /* superior | direita | inferior | esquerda */
padding: 60px 0 0 100px;
}
#identificacao{
    position: relative;
    top: 120px;
    left: 100px;
    font-size: 50px;
}
#skill{
    font-size: 30px;
    position: relative;
    top: 120px;
    left: 100px;
}
#iconeLinkedin{
    position: relative;
    top: 120px;
    left: 100px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.75);
}
#iconeLinkedin:hover{
    color: #0e76a8;
}
#iconeGit{
    position: relative;
    top: 120px;
    left: 100px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.75);
}
#iconeGit:hover{
    color: black;
}
.imagemPerfil{
    width: 50%;
    height: 92vh;
    position: absolute;
    left: 50%;
    bottom: 0vh;
}
.imagemPerfil img{
    width: 50%;
    height: 70vh;
    position: relative;
    left: 15%;
    top: 15%;
    border-radius: 30px;
}



@media (max-width:600px){
    nav ul li{
        display: block;
        text-align: center;
    }
    .inicio h1{
        font-size: 40px;
    }
    .inicio h2{
        font-size: 20px;
    }
    .minhaFoto{
        margin-top: 15px;
        width: 350px;
        height: 400px;
        position: initial;
    }
}


